<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucsoninfotech.cmi.cmiworld">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- paYPAL PERMISSION -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".other.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <!--
                  <meta-data
                  android:name="com.facebook.sdk.ApplicationId"
                  android:value="@string/facebook_app_id" />
        -->
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegistrationActivity"
            android:label="Registrtion Form" />
        <activity
            android:name=".Activity.OTPActivity"
            android:label="OTP Form">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.RegistrationActivity" />
        </activity>
        <activity
            android:name=".Activity.PreForgotPassword"
            android:label="Forgot Password" />
        <activity
            android:name=".Activity.ForgotPassword"
            android:label="Forgot Password">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.SettingActivity"
            android:label="Setting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.CMIDonate"
            android:label="Details" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.SettingActivity" />
        </activity>
        <activity
            android:name=".Activity.PaymentCardDetail"
            android:label="Payment Card Details" />
        <activity
            android:name=".Activity.ProjectDetailActivity"
            android:label="Project Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:label="Change Password">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.MediaViewActivty"
            android:label="Full Screen View" />
        <activity
            android:name=".Activity.ApplyforSEMActivity"
            android:label="Application From"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.PaymentDetailActivity"
            android:label="Payments Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.ApplyforSEMActivity2"
            android:label="Application From"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ImageActivity"
            android:label="Images" />
        <activity android:name=".Activity.custome_gallery" />
        <activity
            android:name=".Activity.FilterActivity"
            android:label="Filter" />
        <activity android:name=".Activity.TestimonialsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ProfileActivity" />
        </activity>
        <activity android:name=".Activity.ProjectListActivity" />
        <activity android:name=".Activity.DonorListActivity" />
        <activity
            android:name=".Activity.QueAnsActivity"
            android:label="Survey" />
        <activity android:name=".Activity.VideoPickerActivity" />
        <activity
            android:name="com.cooltechworks.creditcarddesign.CardEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChatRoomActivity"
            android:label="Chat Room" />
        <activity
            android:name=".Activity.UserStatusActivity"
            android:label="User Status">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ProfileActivity" />
        </activity>

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name=".Activity.FAQActivity"
            android:label="@string/title_activity_faq">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.Rateus"
            android:label="Rate Us">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ProfileActivity" />
        </activity>
    </application>

</manifest>